  

 <%- include('../partials/body') %>     <!-- partials -->
</head>
<body class="ml-2 mr-2">
    <%- include('../partials/nav') %>    <!-- partials -->

  
  <div class="mx-auto mt-10 grid gap-6 px-4 sm:grid-cols-2 lg:grid-cols-4">

                      
     <% registerHomes.forEach(home =>{ %>  
      <div class="overflow-hidden rounded-1xl border border-gray-200 bg-white shadow-md transition duration-300 hover:shadow-2xl">
        <img src="<%= home.photoURL %>" alt="<%= home.HouseName %>" class="h-48 w-full object-cover" />
        <div class="space-y-2 p-4">
          
            <h3 class="text-lg font-bold text-gray-900 line-clamp-2 "><%= home.HouseName %></h3>
          
          <p class="text-sm text-gray-500 line-clamp-1 h-6"><%= home.City %></p>
          <p class="text-sm text-gray-600 line-clamp-2"><%= home.HouseAddress %></p>
          <div class="flex items-center justify-between gap-2">
            <p class="text-m font-bold text-red-500">₹<%= home.price %> / night</p>
            <span class="rounded-lg bg-yellow-400 px-2 py-1 text-sm text-white">★ 4.9</span>
          </div>
          
          <!-- yaha partial me jo favourite name ki file hai use render kr rhe but hmne input(type: hidden) me vaha home.id ka use kiya hai which is not define in this page so {home:home} se hm vhi define kr rhe jaha first home ek variable hai and second one is that array -->

           <div class="mt-4 flex items-center ">
            <span class="mr-3">
            <%- include('../partials/favourite',{home:home}) %>
            </span>
            <a class="inline-flex items-center justify-center rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white transition hover:bg-green-800 focus:outline-none focus:ring-1 focus:ring-green-900" href="/store/home-list/<%= home.Id %>">Detail</a>
           </div>
           <!-- making different path -->
        </div>
      </div>

    <% }) %>
  </div>
    
  
</body>
</html>